@font-face {
  font-family: "Rough Typewriter";
  src: url(/static/rough_typewriter.otf) format('opentype');
}

.contact {
    font-family: 'Rough Typewriter';
    font-size: 300%;
    line-height: 40px;
    margin: 1em 4em 1em 5em;
}
