@font-face {
  font-family: "Rough Typewriter";
  src: url(/static/rough_typewriter.otf) format('opentype');
}

.muted a {
    color: #999999;
    text-decoration: none;
}

.contact {
    font-family: 'Rough Typewriter';
    font-size: 250%;
    line-height: 40px;
    margin-left: 7.1em;
}
